
<h1>Iterating a bunch of objects</h1>
	<ul class="list-group">
		<li *ngFor="let oneobject of someObjects" class="list-group-item"  (click)="onSelect(oneobject)"> 
		{{oneobject.id}} {{oneobject.name}} </li>
	</ul>

	<h1>Iterating a bunch of external objects</h1>
	<ul class="list-group">
		<li *ngFor="let anotherObject of objectsFromOutside" class="list-group-item"  (click)="onSelect(anotherObject)"> 
		{{anotherObject.id}} {{anotherObject.name}} </li>
	</ul>


	<h1>Iterating a bunch of promise objects</h1>
	<ul class="list-group">
		<li *ngFor="let anotherObject of objectsFromOutsideWithPromise" class="list-group-item"  (click)="onSelect(anotherObject)"> 
		{{anotherObject.id}} {{anotherObject.name}} </li>
	</ul>


<app-select-an-object [someotherobject]="selectedObject"></app-select-an-object>

<div *ngIf="selectedObject">
  <h3>------------------------------------------------</h3>
	<h3>{{selectedObject.name | uppercase}} 's Details through Router! </h3>
	<button (click)="viewDetails()">View More Details </button>

</div>



