<h6> -------------------- Getting details from JS --------------- </h6>
<div *ngIf="detailobject">
	<h6>{{detailobject.name}} details! </h6>
	<div><label>id: </label>{{detailobject.id}}</div>
	<div><label>Name: </label>{{detailobject.name}}</div>
</div>

<h6> -------------------- Getting details from Server ----------- </h6>
<div *ngIf="detailobjectFromServer">
	<h6>{{detailobjectFromServer.name}} details! </h6>
	<div><label>id: </label>{{detailobjectFromServer.id}}</div>
	<div><label>Name: </label>{{detailobjectFromServer.name}}</div>
</div>
<h6> ------------------------------------------------------------ </h6>

